@charset "UTF-8";

@media (max-width:1560px) {
    header{
        padding: 15px 40px;
    }
    :root {
        --big-font: 3.5rem
        --h2-font: 2rem
    }
}

@media (max-width:1140px) {
    section {
        padding: 50px 8%;
    }
    :root {
        --cor-texto: #fff;
    }
    #menu-icon {
        display: initial;
        color: var(--cor-texto);
    }
    header .navbar {
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #2b2640;
        transition: 0.3s;
    }
    header .navbar.active {
        top: 70px;
    }
    .navbar a {
        padding: 1.5rem;
        display: block;
    }
    .col {
        width: 50%;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {

    :root {
        --h1-font:2.5rem;
        --h2-font:2.3rem;
    }

    header {
        padding: 10px 16px;
    }
    .home{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .home-text h1 {
        font-size: var(--h1-font);
    }

    .home-text h2 {
        font-size: var(--h2-font);
    }


    .sobre {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .sobre-img {
        order: 2;
    }
    section {
        padding: 100px 7%;
    }
}

@media (max-width: 575px) {
    .col {
        width: 100%;
    }
}